body {
    background-color: #3C2A21;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.mainBox {
    position: relative;
    padding: 20px;
    background-color: #D5CEA3;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}
header, footer {
    width: 100%;
}
footer {
    margin-top: auto;
}

.top, .bottom {
    padding: 20px;
    margin: 0;
    background-color: #1A120B;
    width: 100%;
    box-sizing: border-box;
}
.bottom {
    padding: 10px;
}

.mainImg, .nerdImg, .wakeup, .brukfast, .livingroom, .running1, .crashout, .SigmaFood, .sigmaworkout, .RIP, .LowTaperFade, .ManRizz, .property, .terror, .destroyed, .lpoh {
    border: 1px black solid;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.mainImg {
    background-image: url(../images/dream.jpg);
}

.nerdImg {
    background-image: url(../images/mimimimimi-cat-sleeping.gif);
}

.wakeup {
    background-image: url(../images/wakeup.webp);
}

.brukfast {
    background-image: url(../images/brukfast.webp);
}

.livingroom {
    background-image: url(../images/living\ room.webp);
}

.running1 {
    background-image: url(../images/Patrick\ Bateman.jpeg);
}

.crashout {
    background-image: url(../images/WinterArcStart.png);
}

.SigmaFood {
    background-image: url(../images/SigmaBreakfast.jpeg);
}

.sigmaworkout {
    background-image: url(../images/5x30.gif);
}

.RIP {
    background-image: url(../images/RIP.jpg);
}

.LowTaperFade {
    background-image: url(../images/LowTaperFade.webp);
}

.ManRizz {
    background-image: url(../images/ManRizz.webp);
}

.property {
    background-image: url(../images/ManProperty.webp);
}

.terror {
    background-image: url(../images/terror.jpg);
}

.destroyed {
    background-image: url(../images/destroyed.jpg);
}

.lpoh {
    background-image: url(../images/leader.jpg);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E5E5CB;
    color: #1A120B;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px #6f6f5e solid;
    cursor: help;
    font-size: 16px;
    margin: 5px;
    max-width: fit-content;
}

.p0 {
    color: #D5CEA3;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.p1 {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}
.p2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}
.p3 {
    font-family: sans-serif;
    font-weight: bolder;
}

@media (max-width: 600px) {
    .mainBox {
        width: 90%;
        margin: 10px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}