body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.backgroundimg {
    background-image: url(../images/pisoar.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.mainBox {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.mainImg {
    background-image: url(../images/dream.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.nerdImg {
    background-image: url(../images/mimimimimi-cat-sleeping.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.wakeup {
    background-image: url(../images/wakeup.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.brukfast {
    background-image: url(../images/brukfast.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.livingroom {
    background-image: url(../images/living\ room.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400PX;
}
.running1 {
    background-image: url(../images/Patrick\ Bateman.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.crashout {
    background-image: url(../images/WinterArcStart.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.SigmaFood {
    background-image: url(../images/SigmaBreakfast.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.sigmaworkout {
    background-image: url(../images/5x30.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.RIP {
    background-image: url(../images/RIP.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.LowTaperFade {
    background-image: url(../images/LowTaperFade.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}
.ManRizz {
    background-image: url(../images/ManRizz.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: grey;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: help;
    font-size: 16px;
    margin: 5px;
    max-width: fit-content;
}

.p1 {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}
.p2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}
.p3 {
    font-family: sans-serif;
    font-weight: bolder;
}

@media (max-width: 600px) {
    .mainBox {
        width: 90%;
        margin: 10px;
    }

    .button-container {
        flex-direction: column;
        gap: 10px;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}